#mainBanner{
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    background: url("../../images/banners/mobilePhoto.jpg") center;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    justify-content: center;
    background-size: cover;
    overflow: hidden;
}
.webman{
    background-color: #262626;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.webman p{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.ButtonBase__Ellipsis-sc-p43e7i-5{
    font-size: 16px;
}
#customerReviewsMob{
    width: 100%;
    justify-content: center;
}
.customerReviewsMobWrap{
    width: 80%;
}

.opacityLayer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: black;
    opacity: 0.6;
}
.bannerVideo{
    position: relative;
    z-index: 1;
}
.warehouse{
    width: 100%;
    position: absolute;
    z-index: 0;
}
.mainBannerContent{
    display: flex;
    position: relative;
    column-gap: 40px;
    z-index: 1;
}
.mainBannerTitle{
    color: white;
    font-weight: bold;
    width: 40%;
    font-size: 45px;
    text-align: center;
}
#googleIcon{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
#googleIconMobile{
    width: 100%;
    display: none;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}
#googleIconMobile img{
    width: 100px;
    height: 80px;
}
.mainBannerRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainBannerDescription{
    color: white;
    opacity: 0.8;
    width: 40%;
    font-size: 24px;
    text-align: center;
}

.pulse-button{
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 60px;
    padding: 10px 30px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 25px;
    background: #e3651d;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(252, 224, 1, .5);
    animation: pulse 1.5s infinite;
    font-weight: 600;
}
.pulse-button:hover {
    background: #192655;
    color: white;
    -webkit-animation: pulse 1.5s infinite;
}

.videoButton{
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 60px;
    padding: 10px 30px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: 1px;
    color: white;
    border: none;
    border-radius: 25px;
    background: #e3651d;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(252, 224, 1, .5);
    font-weight: 600;
}
.videoButton:hover {
    background: #192655;
    color: white;
    -webkit-animation: pulse 1.5s infinite;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
}

#statsCounter{
    width: 100%;
    height: 150px;
    background: var(--yellowColor);
}

#counterWrap{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}
.counterContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counterDescription{
    font-size: 20px;
    color: white;
    font-weight: lighter;
    text-align: center;
    opacity: 0.9;
    text-transform: uppercase;
}
.counterNumbers{
    font-size: 56px;
    font-weight: 600;
    text-align: center;
    color: white;
    opacity: 0.9;
}
.after-price{
    font-size: 36px;
}
.title{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.langTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 0px 0px 10px 0;
}
.titleText{
    font-size: 45px;
    font-weight: 600;
}
.borderTitle{
    width: 70px;
    border-bottom: 5px solid #f20c34;
}
.productSection{
    width: 100%;
    display: flex;
    justify-content: center;
}
.productWrapper {
    display: flex;
    margin: 50px 0;
    border-radius: 7px 7px 7px 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 700px;
    row-gap: 20px;
    column-gap: 44px;
    background: white;
}
.bulkContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.bulkLine{
    width: 100%;
    background: gray;
    height: 1px;
    opacity: 0.3;
}
.bulkImg{
    width: 60px;
    height: 60px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bulkContent{
    display: flex;
    align-items: center;
    width: 85%;
    font-size: 20px;
}
.bulkImg img{
    width: 35px;
    height: 35px;
}
.bulkLeftSide{
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.bulkTitle{
    font-size: 45px;
    font-weight: 600;
}
.bulkItems{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.bulkItem{
    display: flex;
    column-gap: 10px;
}
.bulkRightSide img{
    width: 100%;
}

.bulkRightSide{
    width: 45%;
    display: flex;
    align-items: center;
}
.innerBulk{
    width: 1178px;
    display: flex;
    column-gap: 40px;
}
.product-img {
    width: 47%;
    height: 100%;
}
#productDashImg{
    position: relative;
}
#overImgDash{
    width: 219px;
}
.product-img img {
    border-radius: 7px 0 0 7px;
    width: 100%;
    height: 100%;
}

.product-info {
    width: 40%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-infoBack{
    width: 60%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-text {
    height: 300px;
    width: 363px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
}

.product-text h1 {
    padding-top: 20px;
    font-size: 34px;
    color: #474747;
}

.product-text h2 {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
#saleIndexHome{
    position: relative;
}
#product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.product-price-btn div {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 44px;
    font-weight: lighter;
    color: #474747;
}

/*span {*/
/*    display: inline-block;*/
/*    height: 50px;*/
/*    font-family: 'Suranna', serif;*/
/*    font-size: 34px;*/
/*}*/

.buttonInfo:hover{
    text-decoration: underline;
}

.product-price-btn button {
    display: inline-block;
    height: 50px;
    width: 150px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color:#fce001;
    cursor: pointer;
    outline: none;
    color: white;
    font-weight: 600;
}
.languageText{
    font-size: 20px;
    font-weight: bold;
    color: var(--textTitle);
    text-align: center;
}
.product-price-btn button:hover {
    background-color: #fec512;
    color: white;
}
.product-icons img{
    width: 40px;
}

.sale-container {
    text-align: center;
}

.price {
    font-size: 24px;
}

.before-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
    font-size: 28px;
}

.after-price {
    font-weight: bold;
    color: #c40000;
}

.sale-button {
    background-color: #e9d006;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.sale-button:hover {
    background-color: #d32f2f;
}
.product-icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    font-size: 21px;
}
.product-info-icons{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#customersReviews{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#customerReviewWrap{
    width: 1178px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 70px;
    grid-row-gap: 100px;
    justify-content: center;
}
.imgReview img{
    width: 50px;
    border-radius: 50%;
}
.infoReview{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.reviewerStars{
    display: flex;
    column-gap: 5px;
}
.reviewerStars img{
    width: 20px;
}
.reviewerStarsTime{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.reviewerTime{
    color: #11111180;
    font-size: 12px;
}
.reviewerName{
    font-size: 14px;
    font-weight: 700;
}
.reviewerBadge img{
    width: 14px;
}
.reviewerNameBadge{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.reviewText{
    margin: 20px 0;
    opacity: 0.8;
    font-size: 20px;
}
.reviewGoogle img{
    width: 100px;
}
.main-review{
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
.aboutUs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.aboutWrapper{
    width: 1178px;
    padding: 30px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.aboutWrapper div hr{
    margin: 20px 0px;
}
.benefitsSection{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.benefitsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefitImg{
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    transition: 1s;
}
.benefitImg:hover{
    transform: rotate(20deg);
}

.benefitImg img{
    width: 40px;
}
.benefit{
    display: flex;
    column-gap: 15px;
}
.benefitLeft{
    width: 307px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.benefitLeftRight{
    width: 307px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.benefitTitle{
    font-size: 20px;
    font-weight: 600;
}
.benefitDescription{
    font-size: 17px;
}
.benefitsLeft{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.benefitsCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.benefitsRight{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.languagesSection{
    display: flex;
    column-gap: 20px;
}
.languagesSection img{
    width: 50px;
}
.cpdContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.cpdInner{
    width: 1178px;
    background: #ebf5db;
    border-radius: 10px;
}
.cpdItemTitle{
    font-weight: 600;
    font-size: 20px;
}
.cpdItemContent{
    font-size: 18px;
}
.paddingCpd{
    padding: 20px;
}
.cpdItems{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.cpdItem{
    display: flex;
    column-gap: 10px;
}
.cpdImg{
    display: flex;
    background: #c2e090;
    width: 60px;
    height: 60px;
    border: 4px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.cpdLeft{
    width: 45%;
}
.cpdRight{
    width: 50%;
}
.cpdRight img{
    width: 100%;
}
.cpdContent{
    width: 85%;
}
.cpdImg img{
    width: 40px;
    height: 40px;
}
.cpdFlex{
    margin-top: 30px;
    display: flex;
}
.trustContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.innerTrust{
    width: 1178px;
    display: flex;
    column-gap: 80px;
}
.trustLeft{
    width: 50%;
}
.trustLeft img{
    width: 100%
}
.trustRight{
    width: 42%;
}
.trustTitle{
    font-size: 45px;
    font-weight: 600;
}
.trustContent{
    font-size: 22px;
    margin-top: 20px;
}
.spaceTop{
    margin-top: 200px;
}
@media only screen and (max-width: 1200px) {
    .product-info{
        width: 100%;
    }
    #customerReviewsMob{
        display: flex;
    }
    .benefitsWrapper{
        flex-direction: column;
        row-gap: 50px;
    }
    #customerReviewWrap{
        width: 300px;
        grid-template-columns: auto;
        grid-column-gap: 0px;
        row-gap: 20px;
        justify-content: center;
    }
    .courseWrapper{
        width: 300px;
    }
    .mainBannerContent{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .counterNumbers{
        font-size: 30px;
    }
    #counterWrap{
        flex-direction: column;
        row-gap: 20px;
    }
    #statsCounter{
        height: 300px;
    }
    .warehouse{
        display: none;
    }
    .mainBannerRight{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mainBannerTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .mainBannerDescription{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #customerReviewWrap{
        width: 300px;
        grid-template-columns: auto;
        justify-content: center;
    }
    .courseWrapper{
        width: 300px;
    }
    .titleText{
        font-size: 34px;
    }
    .benefitTitle{
        font-size: 17px;
        font-weight: 600;
    }
    .benefitDescription{
        font-size: 15px;
        text-align: center;
    }
    .benefit{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .benefitLeft{
        justify-content: center;
        align-items: center;
        row-gap: 20px;

    }
    .benefitRight{
        justify-content: center;
        align-items: center;

    }
    .productWrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .product-img img{
        height: 300px;
        border-radius: 7px;
        width: 100%;
    }
    .product-img{
        height: 300px;
        width: 100%;
    }
    .aboutWrapper{
        width: 300px;
        justify-content: center;
    }
    .benefitTop img{
        width: 300px;
    }
    .benefitBottom img{
        width: 330px;
    }
    .mainBannerContent{
        width: 300px;
        row-gap: 10px;
    }
    .mainBannerRight{
        width: 300px;
    }
    .mainBannerTitle{
        width: 300px;
    }
    .mainBannerDescription{
        width: 300px;
    }
    .benefitLeftRight{
        width: 307px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pulse-button{
        width: 200px;
    }
    .webman p{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        row-gap: 5px;
        font-size: 16px;
    }
    .webman{
        height: 260px;
    }
    #overImgDash{
        right: 84px;
        width: 187px;
        height: 56px;
    }
    .languagesSection{
        column-gap: 12px;
    }
    .innerBulk{
        width: 95%;
        flex-direction: column;
        row-gap: 40px;
    }
    .bulkRightSide{
        width: 100%;
    }
    .bulkLeftSide{
        width: 100%;
    }
    .cpdInner{
        width: 95%;
    }
    .cpdFlex{
        flex-direction: column-reverse;
        row-gap: 30px;
        align-items: center;
    }
    .cpdLeft{
        width: 100%;
    }
    .cpdRight{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .titleText{
        text-align: center;
    }
    .bulkTitle{
        text-align: center;
    }
    .bulkContainer{
        margin-top: 50px;
    }
    .cpdContainer{
        margin-top: 50px;
    }
    .cpdRight img {
        width: 100%;
    }
    .cpdTitle{
        text-align: center;
    }
    .trustContainer{
        margin-top: 50px;
    }
    .innerTrust{
        width: 85%;
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    .trustLeft{
        width: 100%;
    }
    .trustRight{
        width: 100%;
    }
    .trustTitle{
        text-align: center;
    }
    .languageText{
        padding: 0px 5px;
    }
    .main-review{
        width: 300px;
    }
    .sizeTextMobile{
        font-size: 34px;
    }
    #googleIconMobile{
        display: flex;
    }
    #mainBanner{
        height: 800px;
    }
    .language-picker{
        top: 140px;
    }
    .spaceTop{
        margin-top: 90px;
    }
    .productSection{
        width: 100%;
        justify-content: center;
    }
}





